### Uploading Data from Wiki

In [1]:
# importing libraries 
import pandas as pd
import numpy as np
!pip install lxml
!pip install html5lib
!pip install BeautifulSoup4


print('Libraries Imported')

Requirement already satisfied: lxml in /opt/conda/envs/Python36/lib/python3.6/site-packages (4.3.1)
Requirement already satisfied: html5lib in /opt/conda/envs/Python36/lib/python3.6/site-packages (1.0.1)
Requirement already satisfied: six>=1.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from html5lib) (1.12.0)
Requirement already satisfied: webencodings in /opt/conda/envs/Python36/lib/python3.6/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: BeautifulSoup4 in /opt/conda/envs/Python36/lib/python3.6/site-packages (4.7.1)
Requirement already satisfied: soupsieve>=1.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from BeautifulSoup4) (1.7.1)
Libraries Imported

In [2]:
# read files into a pandas dataframe

from pandas.io.html import read_html 

# Get page and the table from page using class 'wikitable'

page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikitables = read_html(page, attrs={"class": "wikitable"})

print('Data downloaded!')

Data downloaded!

In [3]:
wikitables[0].head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [4]:
#Define dataframe as df
df=wikitables[0]
df.dtypes

Postal code     object
Borough         object
Neighborhood    object
dtype: object

In [5]:
# Delete rows with the value ['Not Assigned'] and make a new dataframe.
df1 = df[df.Borough != 'Not assigned']
df1.head(11)

   Postal code           Borough                                  Neighborhood
2          M3A        North York                                     Parkwoods
3          M4A        North York                              Victoria Village
4          M5A  Downtown Toronto                    Regent Park / Harbourfront
5          M6A        North York             Lawrence Manor / Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
8          M9A         Etobicoke                              Islington Avenue
9          M1B       Scarborough                               Malvern / Rouge
11         M3B        North York                                     Don Mills
12         M4B         East York              Parkview Hill / Woodbine Gardens
13         M5B  Downtown Toronto                      Garden District, Ryerson
14         M6B        North York                                     Glencairn

In [6]:
# Dataframe shape(rows and columns)
df1.shape

(103, 3)

In [7]:
# Reset index and rename first Column
df2=df1.reset_index(drop=True)
df2.rename(columns={"Postal code":'Postalcode'}, inplace=True)
df2.head()

  Postalcode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [8]:
df2.shape

(103, 3)

In [9]:
# Load data from csv file and rename first column
path = 'http://cocl.us/Geospatial_data'
df3 = pd.read_csv(path)
df3.rename(columns={"Postal Code":'Postalcode'},inplace=True)
df3.head()

  Postalcode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [10]:
# Merging the dataframe df2 and df3 based on first column
df4=pd.merge(df2,df3, on=["Postalcode"])
df4.head(12)

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,Parkview Hill / Woodbine Gardens,43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,West Deane Park / Princess Gardens / Martin Gr...,43.650943,-79.554724